html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin:0;
  padding:0;
  background-color: #F0F0F0;
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
}

main {
  height: 500px;
  padding-top: 100px;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

p {
  font-size: 1.3em;
}

.footer {
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  height: 350px;
  color: #FFF;
  background-color: #666;
  border-top: 6px solid #fac400;
  text-align: center;
}

.topContainer {
  background-color: #FFF;
  width: 100%;
}


/**************************
     BOOTSTRAP OVERRIDES
***************************/
.container {
  max-width: 720px;
}
.container2 {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container2-white {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}
#kok-pic-container {
  height: 480px;
  background-image: url(../img/food-eating-potatoes-beer-8313_20.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;
}
#kok-pic-container .fa-cutlery:hover {
  padding-top: 50px;
  color: #333;
}
#kok-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#badrum-pic-container {
  height: 480px;
  background-image: url(../img/pexels-photo-105934_20.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;
}
#badrum-pic-container .fa-bath:hover {
  padding-top: 50px;
  color: #333;
}
#badrum-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#pic-container {
  height: 500px;
  background-image: url(../img/building-joy-planning-plans_20.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic-container2 {
  height: 480px;
  background-image: url(../img/verktyg_20.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page-header {
  margin: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

a {
  color: #3b2f2c;
  font-size: 20px;
  text-decoration: none;
}
.marketing {
  padding-top: 90px;
  padding-right: 50px;
  padding-bottom: 90px;
  padding-left: 50px;

}
.dropdown-menu {
  border-radius: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fac400;
    outline: 0;
}
.featurette-image {
  max-width: 350px;
}
.white {
  background-color: #ffffff;
}
.renovering-nav {}
.grey-divider {
  background-color: grey;
  height: 5px;
  width: 100%;
}
.marketing .circleRow h2 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
}
.fa {
  text-align: center;
  border-radius: 50%;
  font-size: 100px;
  color: #333;
  background-color: #fac400;
  width: 200px;
  height: 200px;
  -webkit-transition: width 0.1s, height 0.1s, padding-top 0.1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.1s, height 0.1s, padding-top 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.fa:hover {
  color: #eee;
  width: 230px;
  height: 230px;
}
.fa-cutlery,
.fa-bath,
.fa-home,
.fa-building {
  padding-top: 50px;
}
.fa-cutlery:hover,
.fa-bath:hover,
.fa-home:hover,
.fa-building:hover {
  padding-top: 65px;
}
.iconClick {

}
.img-circle {
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-transition: width 0.1s, height 0.1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.1s, height 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.img-circle:hover {
  width: 285px;
  height: 285px;
}
.img-circle2 {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
}
main .col-md-12 a:hover {
  cursor: pointer;
  font-size: 50px;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0px;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-tabs.nav-justified > li > a:hover {
    border: 1px solid #f0f0f0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #fac400;
  border: 0px;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #fac400;
  cursor: pointer;
}

li > a:hover {
  color: #3b2f2c;
}

button > a:hover {
  color: #FFF
}

.navbar {
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0px;
  min-height: 0px;
}

.headerLogo {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footerLogo {
  width: 250px;
  margin-left: 0px;
}
.partners {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.partners h2 {
  color: #aaa;
  padding-bottom: 0px;
}
.partnerLogo {
  width: 200px;
  display: inline;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.ahlsell {
  width: 135px;
  display: inline;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.dahl {
  height: 70px;
  display: inline;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.ninjaDividerDiv {
  max-width: 500px;
}
.contact-info {
  padding-top: 35px;
  font-size: 18px;
}
.ninjaDivider {
  width: 100%;
  margin-top: 30px;
}


.navbar-inverse {
  background-color: #fff;
}

ul > li.active {
  color: #232323;
  background-color: #C0C0C0;
  padding: 0px;

}

.img-responsive {
  width: 80%;
  margin-bottom: 30px;
  border: 8px solid #fac400;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 0px;
  display: inline;
}

.btn-primary {
  display: block;
  margin-top: 100px;
  padding: 5px;
  background-color: #fac400;
  border-color: #fac400;
  font-weight: 800;
  border-radius: 0px;
}

.btn-primary:hover {
  background-color: #fac400;
  border-color: #fac400;
}

.footerText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
footer .footerText:last-child {
  margin-top: 50px;
}
main .col-md-12 a {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 44px;
  color: #333;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
  -webkit-transition: font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
main .col-md-12 a:hover {
  cursor: pointer;
  font-size: 50px;
}
.highlight {
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight2 {
  color: #3b2f2c;
  background-color: #fac400;
  padding-left: 2px;
  padding-right: 2px;
}
.highlight3 {
  color: #333;
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.underline {
  border-bottom: 4px solid #fac400;
}
/* Style the Image Used to Trigger the Modal */
#myImg1, #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover, #myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1, #caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption1, #caption2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
@media (max-width: 1200px) {
  #pic-container2 {
    height: 350px;
  }
  .fa {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .fa:hover {
    width: 120px;
    height: 120px;
  }
  .fa-cutlery,
  .fa-bath,
  .fa-home,
  .fa-building {
    padding-top: 25px;
  }
  .fa-cutlery:hover,
  .fa-bath:hover,
  .fa-home:hover,
  .fa-building:hover {
    padding-top: 35px;
  }
  .marketing .circleRow h2 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  #pic-container2 {
    height: 550px;
  }
  .fa:hover {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .fa-cutlery:hover,
  .fa-bath:hover,
  .fa-home:hover,
  .fa-building:hover {
    padding-top: 25px;
  }
  .circleRow {
    margin-top: 0px;
  }
  .marketing {
    padding-top: 60px;
  }
  .marketing .circleRow h2 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .partners {
    height: 360px;
  }
  .footer {
    height: 480px;
  }
}
@media (max-width: 854px) {
  .underline {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .topContainer {
    border-bottom: 2px solid #eee;
  }
  #pic-container2 {
    height: 850px;
  }
  .circleRow {
    margin-top: 0px;
  }
  .marketing .circleRow h2 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .marketing {
    padding-top: 30px;
  }

}
@media (max-width: 740px) {
  main .col-md-12 a {
    font-size: 28px;
    line-height: 43px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 34px;
  }
}
@media (max-width: 636px) {
  .partners {
    height: 420px;
  }
}
@media (max-width: 540px) {
  main .col-md-12 a {
    font-size: 22px;
    line-height: 36px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 22px;
  }
}
@media (max-width: 444px) {
  .marketing {
    padding-left: 10px;
    padding-right: 10px;
  }
  .marketing .circleRow h2 {
    font-size: 18px;
  }
}
@media (max-width: 435px) {
  .partners {
    height: 483px;
  }
}
@media (max-width: 393px) {
  .partners {
    height: 580px;
  }
  main .col-md-12 a {
    font-size: 18px;
    line-height: 36px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 18px;
  }
}
@media (max-width: 340px) {
  .footerLogo {
    width: 150px;
  }
  .footerText h2 {
    font-size: 22px;
  }
  .footerText p {
    font-size: 15px;
  }
  footer .footerText:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 319px) {
  main .col-md-12 a {
    font-size: 18px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 18px;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 280px) {
  .partnerLogo {
    width: 90px;
  }
  .dahl {
    width: 90px;
  }
  .ahlsell {
    width: 90px;
  }
}
@media (max-width: 187px) {
  .nav-tabs.nav-justified > li > a {
    font-size: 15px;
    margin-bottom: 0px;
  }
  main .col-md-12 a {
    font-size: 15px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 15px;
  }
}
