html {
  position: relative;
  min-height: 100%;
}
body {
  margin:0;
  padding:0;
  background-color: #F0F0F0;
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
}
main {
  height: 500px;
  padding-top: 100px;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
a {
  color: #333;
  font-size: 17px;
  text-decoration: none;
}
p {
  font-size: 1.3em;
}
li {
  font-size: 1em;
}
label {
  display:block;
  text-align: left;
  margin-top:20px;
  font-size: 20px;
}
form {
  margin: 0 auto;
  width: 459px;
}
.form-horizontal .control-label {
    text-align: left;
}
input, textarea {
  width:439px;
  margin-top:3px;
}
.vvs {
  height: 105px;
}
.vatrum {
  height: 80px;
}
.per {
  height: 80px;
}
.auktoritet-logos img {
  display: inline-block;
}
.auktoritet-logos {
  margin-top: 50px;
  margin-bottom: 30px;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 40px;
}
#offert-bg {
  background-image: url('../img/rsz_1building-joy-planning-plans_40.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#offert-bg h1 {
  margin-top: 50px;
}
.mobile-indicator {
  background-color: #fff;
  display: none;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 0px;
}
.item1 {
  height: 300px;
  width: 100%;
  padding-top: 1px;
  background-image: url('../img/rsz_badrum_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item1 h1, .item2 h1, .item3 h1, .item4 h1 {
  line-height: 1.3;
  padding-top: 90px;
  margin-bottom: 5px;
}
.item2 {
  height: 300px;
  width: 100%;
  background-image: url('../img/rsz_kk1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  height: 300px;
  width: 100%;
  background-image: url('../img/rsz_fnster_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item4 {
  height: 300px;
  width: 100%;
  background-image: url('../img/rsz_arbetare.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  height: 370px;
  color: #FFF;
  background-color: #A6A6A6;
  text-align: center;
}
.topContainer {
  background-color: #FFF;
  width: 100%;
}
.contact-button-container {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.contact-button {
  padding: 30px 40px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 24px;
  background-color: #fac400;
  -webkit-transition: padding 0.1s, font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: padding 0.1s, font-size 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
textarea {
  margin-bottom: 40px;
}
.contact-button:hover {
  text-decoration: none;
  padding: 40px 50px;
  font-size: 28px;
  color: #000;
}
.send-button {
  margin-bottom: 30px;
  padding: 20px 30px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #fac400;
  border: none;
  -webkit-transition: padding 0.1s, font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: padding 0.1s, font-size 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.send-button:hover {
  text-decoration: none;
  padding: 30px 40px;
  font-size: 24px;
  color: #000;
}
.carousel-button:hover {
  cursor: pointer;
  text-decoration: none;
}
#myCarousel {
  height: 500px;
  overflow-y: hidden;
}
.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}
.carousel-caption {
  top: 160px;
  bottom: 0px;
  height: 200px;
  padding-top: 0px;
  text-shadow: none;
}
.carousel-caption h1 {
  margin-bottom: 10px;
  color: #fff;
}
.carousel-button {
  padding: 10px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 28px;
  color: #333;
  background-color: #fac400;
  border: none;
  border-radius: 0px;
}
.carousel-button:hover {
  cursor: pointer;
  text-decoration: none;
}
.byggest-info {
  margin-top: 50px;
  margin-bottom: 70px;
}
.partner-heading {
  clear:both;
  display: inline-block;
}
.partner-heading-h2 {
  float: left;
}
.partner-heading-h3 {
  float: left;
  color: #fff;
  margin-top: 25px;
  margin-left: 10px;
}
.container {
  max-width: 720px;
}
.container2 {
  max-width: 1200px;
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container3 {
  max-width: 1200px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container4 {
  max-width: 720px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container2-white {
  max-width: 1200px;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}
.services {
  font-size: 18px;
}
#vvs-pic-container {
  height: 480px;
  background-image: url(../img/rsz_2016-09-22_175025.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vvs-pic-container .fa-tint:hover {
  padding-top: 50px;
  color: #333;
}
#vvs-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#kok-pic-container {
  height: 480px;
  background-image: url(../img/rsz_pexels-photo-259828.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#kok-pic-container .fa-cutlery:hover {
  padding-top: 50px;
  color: #333;
}
#kok-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#badrum-pic-container {
  height: 480px;
  background-image: url(../img/rsz_1badrum_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#badrum-pic-container .fa-bath:hover {
  padding-top: 50px;
  color: #333;
}
#badrum-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#snickeri-pic-container {
  height: 480px;
  background-image: url(../img/rsz_pexels-photo-345135.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#snickeri-pic-container .fa-home:hover {
  padding-top: 50px;
  color: #333;
}
#snickeri-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#total-pic-container {
  height: 480px;
  background-image: url(../img/rsz_pexels-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#total-pic-container .fa-building:hover {
  padding-top: 50px;
  color: #333;
}
#total-pic-container .fa:hover {
  width: 200px;
  height: 200px;
  cursor: default;
}
#pic-container {
  height: 500px;
  background-image: url(../img/building-joy-planning-plans_20.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#pic-container2 {
  height: 480px;
  background-image: url(../img/rsz_verktyg_20.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.page-header {
  margin: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.marketing {
  padding-top: 90px;
  padding-right: 50px;
  padding-bottom: 90px;
  padding-left: 50px;
}
.dropdown-menu {
  border-radius: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fac400;
    outline: 0;
}
.featurette-image {
  max-width: 350px;
}
.white {
  background-color: #ffffff;
}
.white2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.white3 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #ffffff;
}
.grey-divider {
  background-color: grey;
  height: 5px;
  width: 100%;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.circleRow h2 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
}
.fa {
  text-align: center;
  border-radius: 50%;
  font-size: 100px;
  color: #333;
  background-color: #fac400;
  width: 200px;
  height: 200px;
  -webkit-transition: width 0.1s, height 0.1s, padding-top 0.1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.1s, height 0.1s, padding-top 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.fa:hover {
  color: #eee;
  width: 230px;
  height: 230px;
}
.fa-cutlery,
.fa-bath,
.fa-home,
.fa-building,
.fa-tint {
  padding-top: 50px;
}
.fa-cutlery:hover,
.fa-bath:hover,
.fa-home:hover,
.fa-building:hover {
  padding-top: 65px;
}
.fa-tint:hover{
  color: #333;
}
.img-circle {
  width: 15 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.img-circle2 {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
}
main .col-md-12 a:hover {
  cursor: pointer;
  font-size: 50px;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0px;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-tabs.nav-justified > li > a:hover {
    border: 1px solid #f0f0f0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #fac400;
  border: 0px;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #fac400;
  cursor: pointer;
}
li > a:hover {
  color: #333;
}
button > a:hover {
  color: #FFF
}
.navbar {
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0px;
  min-height: 0px;
}
.headerLogo {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footerLogo {
  width: 250px;
  margin-left: 0px;
}
.partners {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.about-partners {
  padding-bottom: 40px;
}
.partners h2 {
  color: #aaa;
  padding-bottom: 0px;
}
.partnerLogo {
  width: 200px;
  display: inline;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.bauhaus {
  width: 180px;
  display: inline;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 20px;
}
.ahlsell {
  width: 135px;
  display: inline;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 20px;
}
.dahl {
  height: 70px;
  display: inline;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.ninjaDividerDiv {
  max-width: 500px;
}
.contact-info {
  padding-top: 78px;
  font-size: 18px;
}
.ninjaDivider {
  width: 100%;
  margin-top: 30px;
}
.navbar-inverse {
  background-color: #fff;
}
ul > li.active {
  color: #232323;
  background-color: #C0C0C0;
  padding: 0px;
}
.img-responsive {
  width: 80%;
  margin-bottom: 30px;
  border: 8px solid #fac400;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 0px;
  display: inline;
}
.btn-primary {
  display: block;
  margin-top: 100px;
  padding: 5px;
  background-color: #fac400;
  border-color: #fac400;
  font-weight: 800;
  border-radius: 0px;
}
.btn-primary:hover {
  background-color: #fac400;
  border-color: #fac400;
}
.footerText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
footer .footerText:last-child {
  margin-top: 50px;
}
main .col-md-12 a {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 44px;
  color: #333;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
  -webkit-transition: font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
main .col-md-12 a:hover {
  cursor: pointer;
  font-size: 50px;
}
.highlight {
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight2 {
  color: #fac400;
  font-weight: 800;
  padding-left: 2px;
  padding-right: 2px;
}
.highlight3 {
  color: #333;
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight4 {
  color: #fff;
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.underline {
  border-bottom: 4px solid #fac400;
}
#myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover {opacity: 0.7;}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
}
#caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
@media (max-width: 1200px) {
  .container2 {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #pic-container2 {
    height: 240px;
  }
  .fa {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .fa:hover {
    width: 120px;
    height: 120px;
  }
  .fa-cutlery,
  .fa-bath,
  .fa-home,
  .fa-building,
  .fa-tint {
    padding-top: 25px;
  }
  .fa-cutlery:hover,
  .fa-bath:hover,
  .fa-home:hover,
  .fa-building:hover {
    padding-top: 35px;
  }
  .circleRow h2 {
    margin-top: 0px;
    font-size: 18px;
  }
  .marketing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  #vvs-pic-container {
    height: 240px;
  }
  #vvs-pic-container .fa:hover {
    width: 100px;
    height: 100px;
    cursor: default;
  }
  #vvs-pic-container .fa-tint:hover {
    padding-top: 25px;
    color: #333;
  }
  #kok-pic-container {
    height: 240px;
  }
  #kok-pic-container .fa:hover {
    width: 100px;
    height: 100px;
    cursor: default;
  }
  #kok-pic-container .fa-cutlery:hover {
    padding-top: 25px;
    color: #333;
  }
  #badrum-pic-container {
    height: 240px;
  }
  #badrum-pic-container .fa:hover {
    width: 100px;
    height: 100px;
    cursor: default;
  }
  #badrum-pic-container .fa-bath:hover {
    padding-top: 25px;
    color: #333;
  }
  #snickeri-pic-container {
    height: 240px;
  }
  #snickeri-pic-container .fa:hover {
    width: 100px;
    height: 100px;
    cursor: default;
  }
  #snickeri-pic-container .fa-home:hover {
    padding-top: 25px;
    color: #333;
  }
  #total-pic-container {
    height: 240px;
  }
  #total-pic-container .fa:hover {
    width: 100px;
    height: 100px;
    cursor: default;
  }
  #total-pic-container .fa-building:hover {
    padding-top: 25px;
    color: #333;
  }
  .circleRow h2 {
    font-size: 20px;
  }
}
@media (max-width: 1106px) {
  .carousel-caption h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .carousel-caption {
    top: 180px;
  }
  .carousel-button {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .container2 {
    padding-top: 22px;
  }
  #myCarousel {
    max-height: 400px;
  }
  .carousel-caption {
    top: 120px;
  }
  .carousel-button {
    font-size: 20px;
  }
  #pic-container2 {
    height: 550px;
  }
  .margin-top {
    margin-top: 30px;
  }
  .fa:hover {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .fa-cutlery:hover,
  .fa-bath:hover,
  .fa-home:hover,
  .fa-building:hover {
    padding-top: 25px;
  }
  .circleRow {
    margin-top: 0px;
  }
  .marketing {
    padding-top: 60px;
  }
  .marketing .circleRow h2 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .footer {
    height: 539px;
  }
}
@media (max-width: 854px) {
  .underline {
    font-size: 25px;
  }
}
@media (max-width: 812px) {
  #myCarousel {
    height: 350px;
  }
}
@media (max-width: 767px) {
  #myCarousel {
    display: none;
  }

  .carousel-caption {
    top: 130px;
  }
  .mobile-indicator {
    display: inline-block;
  }
  .desktop-indicator .carousel-button {
    display: none;
  }
  .container2 {
    padding-top: 10px;
  }
  #pic-container2 {
    height: 850px;
  }
  .circleRow {
    margin-top: 0px;
  }
  .marketing .circleRow h2 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 740px) {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.3;
  }
  main .col-md-12 a {
    font-size: 28px;
    line-height: 43px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 34px;
  }
}
@media (max-width: 666px) {
  .carousel-caption {
    top: 20px;
  }
}
@media (max-width: 560px) {
  .partners img {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 540px) {
  form, .send-button {
    width: 300px;
  }

  main .col-md-12 a {
    font-size: 22px;
    line-height: 36px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 22px;
  }
}
@media (max-width: 530px) {
  .about-partners {
    text-align: center;
  }
  .about-partners img {
    display: block;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 506px) {
  .contact-button {
    font-size: 20px;
    padding: 20px 20px;

  }
  .contact-button:hover {
    font-size: 20px;
    padding: 20px 20px;
  }
}
@media (max-width: 487px) {
  .partner-heading-h3 {
    margin-left: 0px;
    float: none;
  }
}
@media (max-width: 444px) {
  .marketing {
    padding-left: 10px;
    padding-right: 10px;
  }
  .marketing .circleRow h2 {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  li {
    font-size: 14px;
  }
  .bauhaus {
    margin-left: 0px;
  }
}
@media (max-width: 393px) {
  h1, .h1 {
    font-size: 25px;
  }
  .item {
    min-height: 200px;
  }
  .carousel-caption h1 .underline {
    font-size: 18px;
  }
  main .col-md-12 a {
    font-size: 18px;
    line-height: 36px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 18px;
  }
}
@media (max-width: 348px) {
  form, .send-button {
    width: 200px;
  }
  .partner-heading-h2 {
    font-size: 30px;
  }
  .footerLogo {
    width: 150px;
  }
  .footerText h2 {
    font-size: 22px;
  }
  .footerText p {
    font-size: 15px;
  }
  footer .footerText:last-child {
    margin-top: 20px;
  }
  .contact-button {
    font-size: 18px;
  }
  .contact-button:hover {
    font-size: 20px;
  }
}
@media (max-width: 319px) {
  main .col-md-12 a {
    font-size: 18px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 18px;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 280px) {
  .dropdown-menu > li > a {
    font-size: 12px;
  }
  .headerLogo {
    margin-bottom: 10px;
  }
  .container2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .marketing {
    padding-right: 0px;
    padding-left: 0px;
  }
  .underline {
    font-size: 18px;
    line-height: normal;
  }
  .partner-heading-h2 {
    font-size: 30px;
  }
  .partner-heading-h3 {
    font-size: 22px;
  }
  .partners h2 {
    font-size: 14px;
  }
  .partnerLogo {
    width: 90px;
  }
  .bauhaus {
    width: 90px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .dahl {
    height: 45px;
  }
  .ahlsell {
    width: 90px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .white2 .container ul {
    padding-left: 0px;
  }
  @media (max-width: 256px) {
    h1, .h1 {
      font-size: 23px;
    }
    h2, .h2 {
      font-size: 20px;
    }
    p {
      font-size: 1em;
    }
    form, .send-button {
      width: 150px;
    }
    .img-circle {
      width: 100px;
      height: 100px;
    }
    .send-button {
      font-size: 14px;
      padding: 5px 5px;
    }
    .send-button:hover {
      font-size: 14px;
      padding: 5px 5px;
    }
    .carousel-caption h1 .underline {
      font-size: 15px;
    }
    .contact-button {
      font-size: 18px;
      padding: 10px 10px;
    }
    .contact-button:hover {
      font-size: 18px;
      padding: 10px 10px;
    }
  }
@media (max-width: 244px) {
  h1, .h1 {
    font-size: 18px;
  }
  .highlight3 {
    font-size: 12px;
  }
}
@media (max-width: 200px) {
  .underline {
    font-size: 15px;
    line-height: normal;
  }
  .contact-button {
    font-size: 14px;
    padding: 10px 10px;
  }
  .contact-button:hover {
    font-size: 14px;
    padding: 10px 10px;
  }
  .vvs {
    height: 70px;
  }
  .vatrum, .per {
    height: 50px;
  }
}
@media (max-width: 197px) {
  h4, .h4 {
    font-size: 13px;
  }
  form, .send-button {
    width: 100px;
  }
  .send-button {
    font-size: 14px;
    padding: 5px 5px;
  }
  .send-button:hover {
    font-size: 14px;
    padding: 5px 5px;
  }
  .highlight {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 187px) {
  h1, .h1 {
    font-size: 12px;
  }
  p {
    font-size: 0.8em;
  }
  .dropdown-menu {
    min-width: 120px;
  }
  .dropdown-menu > li > a {
    font-size: 10px;
    padding: 3px 3px;
  }
  .col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footerText h2 {
    font-size: 12px;
  }
  .footerLogo {
    width: 100px;
  }
  .nav-tabs.nav-justified > li > a {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .partner-heading-h2 {
    font-size: 24px;
  }
  .partner-heading-h3 {
    font-size: 18px;
  }
  main .col-md-12 a {
    font-size: 15px;
  }
  main .col-md-12 a:hover {
    cursor: pointer;
    font-size: 15px;
  }
  .partnerLogo {
    margin-right: 0px;
    margin-left: 0px;
  }
  .ahlsell {
    margin-right: 0px;
    margin-left: 0px;
  }
  .dahl {
    margin-right: 0px;
    margin-left: 0px;
  }
  .white2 .container p {
    font-size: 14px;
  }
  .white2 .container ul {
    font-size: 10px;
  }
}
@media (max-width: 164px) {
  h2, .h2 {
    font-size: 17px;
  }
  .contact-button {
    font-size: 12px;
    padding: 5px 5px;

  }
  .contact-button:hover {
    font-size: 12px;
    padding: 5px 5px;
  }
}
