html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin:0;
  padding:0;
  height: 530px;
  background-color: #F0F0F0;
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
}

main {
  height: 500px;
  padding-top: 100px;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

p {
  font-size: 1.3em;
}

.footer {
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  height: 350px;
  color: #FFF;
  background-color: #aaaaaa;
  border-top: 6px solid #fac400;
  text-align: center;
}

.topContainer {
  background-color: #FFF;
  width: 100%;
}


/**************************
     BOOTSTRAP OVERRIDES
***************************/
.container {
  max-width: 720px;
}

#pic-container {
  height: 500px;
  background-image: url(../img/Rishad_4.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page-header {
  margin: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

a {
  color: #3b2f2c;
  font-size: 20px;
  text-decoration: none;
}
.marketing {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;

}
.dropdown-menu {
  border-radius: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fac400;
    outline: 0;
}
.featurette-image {
  max-width: 350px;
}
.white {
  background-color: #ffffff;
}
.renovering-nav {}
.grey-divider {
  background-color: grey;
  height: 5px;
  width: 100%;
}
.marketing .circleRow h2 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 44px;
  color: #ffffff;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
}
.img-circle {
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-transition: width 0.1s, height 0.1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.1s, height 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.img-circle:hover {
  width: 330px;
  height: 330px;
}

}
main .col-md-12 a:hover {
cursor: pointer;
font-size: 50px;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: 0px;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-tabs.nav-justified > li > a:hover {
    border: 1px solid #f0f0f0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #fac400;
  border: 0px;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #fac400;
  cursor: pointer;
}

li > a:hover {
  color: #3b2f2c;
}

button > a:hover {
  color: #FFF
}

.navbar {
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0px;
  min-height: 0px;
}

.headerLogo {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footerLogo {
  width: 250px;
  margin-left: 0px;
}
.partners {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.partners h2 {
  color: #aaa;
  padding-bottom: 30px;
}
.partnerLogo {
  width: 200px;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: width 0.1s; /* For Safari 3.1 to 6.0 */
  transition: 0.1s width;
}
.partnerLogo:hover {
  width: 250px;
}
.dahl {
  height: 70px;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: height 0.1s; /* For Safari 3.1 to 6.0 */
  transition: 0.1s height;
}
.dahl:hover {
  height: 90px;
}

.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.ninjaDividerDiv {
  max-width: 500px;
}
.contact-info {
  padding-top: 35px;
  font-size: 18px;
}
.contact-info p:first-child {
  padding-left: 43px;
}
.ninjaDivider {
  width: 100%;
  margin-top: 30px;
}


.navbar-inverse {
  background-color: #fff;
}

ul > li.active {
  color: #232323;
  background-color: #C0C0C0;
  padding: 0px;

}

.img-responsive {
  width: 80%;
  margin-bottom: 30px;
  border: 8px solid #C3BB38;
  background-color: #E3D93B;
  padding: 4px;
  border-radius: 10px;
  display: inline;
}

.btn-primary {
  display: block;
  margin-top: 100px;
  padding: 5px;
  background-color: #fac400;
  border-color: #fac400;
  font-weight: 800;
  border-radius: 0px;
}

.btn-primary:hover {
  background-color: #3b2f2c;
  border-color: #3b2f2c;
}

.footerText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
footer .footerText:last-child {
  margin-top: 50px;
}
main .col-md-12 a {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 44px;
  color: #ffffff;
  font-weight: 400;
  line-height: 64px;
  text-decoration: none;
  -webkit-transition: font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
main .col-md-12 a:hover {
  cursor: pointer;
  font-size: 50px;
}
.highlight {
  background-color: #fac400;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight2 {
  color: #3b2f2c;
  background-color: #fac400;
  padding-left: 2px;
  padding-right: 2px;
}
